---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Button from "./Buttons.astro";

interface Props {
  icon: ImageMetadata;
  title: string;
  description: string;
  descriptionSuffix?: string;
  highlightText?: string;
  showButton?: boolean;
}

const {
  icon,
  title,
  description,
  descriptionSuffix,
  highlightText,
  showButton = true,
} = Astro.props;
---

<style>
  .card-button {
    background: linear-gradient(65deg, #065f93 0%, #003757 100%);
    transition: all 0.5s ease-in-out;
    color: #f2f2f2;
  }

  .group:hover .card-button {
    background: white;
    color: #000;
  }
</style>

<div
  class="group shadow-[0px_0px_25px_1px_#838f95] flex flex-col justify-start items-center py-6 px-5 rounded-lg w-full max-w-xs sm:max-w-sm md:w-80 md:h-80 hover:bg-[#065f93] hover:scale-105 transition-all duration-300 hover:text-white gap-4 bg-white/90"
>
  <div class="pt-2">
    <Image
      class="w-20 group-hover:brightness-0 group-hover:invert"
      src={icon}
      alt={title}
      width={20}
      height={20}
    />
  </div>
  <div
    class="flex flex-col gap-4 h-full justify-center items-center text-center"
  >
    <p
      class="text-primary text-2xl font-semibold group-hover:text-white leading-tight"
    >
      {title}
    </p>

    <div class="text-sm">
      <p class="text-primary group-hover:text-white">
        {description}
        {
          highlightText && (
            <span class="text-primary font-semibold group-hover:text-white">
              {highlightText}
            </span>
          )
        }
        {descriptionSuffix && <>{descriptionSuffix}</>}
      </p>
    </div>

    {
      showButton && (
        <div>
          <button class="card-button py-2 px-4 rounded-md font-medium cursor-pointer">
            Saber más
          </button>
        </div>
      )
    }
  </div>
</div>
